.checkout-item-container {
  .item-container {
    display: flex;
    padding: 10px 15px;

    img {
      height: 140px;
      width: 120px;
    }

    .item-details {
      display: flex;
      padding: 20px;
      width: 100%;
      justify-content: space-between;
      align-items: center;

      .name {
        width: 20%;
        font-weight: bold;
      }

      .price {
        width: 10%;
      }

      .quantity {
        align-items: center;
        .button {
          margin: auto 15px;
          cursor: pointer;
          font-weight: bold;
          font-size: 30px;
        }
      }

      .total {
        width: 10%;
      }

      .button-clear {
        color: gray;
        cursor: pointer;
        font-weight: bold;
        font-size: 30px;
        &:hover {
          color: red;
        }
      }
    }
  }
}
